#local terraform directory 
.terraform/*


#terrafrom state (local state)
*.tfstate
*.tfstate.*

#tf variable fiiles,may include sensitive data

*.tfvars
providers.*
practise.*

#ignore crash file 
.DS_Store

#ignore crash log
crash.log